<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="jp.ict.muffin.otasukejuru">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TaskAddition"
            android:label="">
        </activity>
        <activity
            android:name=".activity.TimerActivity"
            android:label="">
        </activity>
        <activity android:name=".activity.TimerIntervalActivity">
        </activity>
        <activity android:name=".activity.TimerNotificationActivity">
        </activity>
    </application>

</manifest>